# Исключаем тесты и покрытие
coverage/
tests/
*.test.js

# Конфигурации CI
.github/

# Логи, кэш, временные файлы
*.log
*.tsbuildinfo
.cache/
.nyc_output/

# IDE, окружение
.idea/
.vscode/
.env
.env.*
.gigaide/

# Файлы только для разработки
jest.config.js
test.*